certifi==2019.9.11
Click==7.0
Flask==1.1.1
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==1.1.0
Mako==1.1.0
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.3
pandas==0.25.2
pygpu==0.7.6
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
scipy==1.3.1
six==1.12.0
Theano==1.0.4
Werkzeug==0.16.0
